@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Roman&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Spline+Sans:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Spline Sans', sans-serif;
}
h1{
    font-family: 'Luxurious Roman', cursive;
}
*{
    padding: 0%;
    margin: 0%;
}
#about1{
    background-color: hsl(271, 76%, 53%);
    text-align: center;
    color: #04fa1e;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#aboutme{
    display: flex;
    background: blanchedalmond;
}
.half-width2 img{
    border: 1px solid red;
    border-radius: 50%;
    height: 294px;
    background: #7B68EE;
    margin-top: 29px;
    margin-left: 241px;
}
.color1{
    color:#e5207f;
    font-size: 32px;
}
.half-width2 h2 {
    padding-top: 80px;
    padding-left: 109px;
}
.half-width2 h4 {
    padding-top: 94px;
    padding-left: 10px;
    font-size: 22px;
}
span.devloper {
    font-size: 19px;
    padding-left: 10px;
}
.half-width2 p {
    width: 287px;
    margin-left: 107px;
    padding: 17px;
    border: 2px solid rebeccapurple;
    margin-top: 15px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 3px -3px 6px 5px #a3107d47;
}